#### 1. State the Hypotheses:
* Alternet Hypothesis (H1): This is a statement that predicts a relationship between variables. It is also known as the alternative hypothesis.
* Null Hypothesis (H0): This is a statement that predicts no relationship between variables. It is the default position that there is no association between the variables being studied.

In [2]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
data = {"Satisfaction": ["very Satisfied","satisfied","neutral","unsatisfied","very unsatisfied"],
       "Smart thermostats":[50,80,60,30,20],
       "Samrt Light":[70,100,90,50,50]}

In [3]:
df= pd.DataFrame(data)

In [4]:
df

       Satisfaction  Smart thermostats  Samrt Light
0    very Satisfied                 50           70
1         satisfied                 80          100
2           neutral                 60           90
3       unsatisfied                 30           50
4  very unsatisfied                 20           50

In [5]:
df = df.set_index(df["Satisfaction"])

In [6]:
df.drop("Satisfaction",axis=1,inplace= True)

In [7]:
df.head()

                  Smart thermostats  Samrt Light
Satisfaction
very Satisfied                   50           70
satisfied                        80          100
neutral                          60           90
unsatisfied                      30           50
very unsatisfied                 20           50

#### 2. Compute the Chi-Square Statistic:
* there is no association between the type of smart home device prchased ( smart thermostats vs. samrt light) and the customer satisfation  
* h1 = there is association between the type smat home device purchas and customer satisfaction

In [9]:
stats.chi2_contingency(df)

Chi2ContingencyResult(statistic=5.638227513227513, pvalue=0.22784371130697179, dof=4, expected_freq=array([[ 48.,  72.],
       [ 72., 108.],
       [ 60.,  90.],
       [ 32.,  48.],
       [ 28.,  42.]]))

#### 3. Determine the Critical Value:
* Using the significance level (alpha) of 0.05 and the degrees of freedom (which is the number of categories minus 1)

In [10]:
# dof = (2-1)*(5-1)
dof = 4
alpha = 0.05
critical_value = stats.chi2.ppf(1-alpha,dof)
print(critical_value)

9.487729036781154

#### 4. Make a Decision:

In [11]:
# p value is less than l.o.s so we do not reject our null hypothesis.
# thus there is no association between the type smat home device purchas and customer satisfaction.